<%layout("/layouts/boilerplate")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Edit this item</h2>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
    

        <div class="mb-3">
            <label for="title" class="form-label"> Title</label>
            <input name="listing[title]" placeholder="enter title" value="<%=listing.title%>" class="form-control" required><br>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"> Description</label>
            <input name="listing[description]" placeholder="enter desc" value="<%=listing.description%>" class="form-control" required><br>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Image</label>
            <input name="listing[image]" placeholder="enter image url" value="<%=listing.image%>" class="form-control" required><br>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"> Price</label>
                <input name="listing[price]" placeholder="enter price" type="number" value="<%=listing.price%>" class="form-control" required><br>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label"> Location</label>
                <input name="listing[location]" placeholder="enter location" value="<%=listing.location%>" class="form-control" required><br>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label"> Country</label>
            <input name="listing[country]" placeholder="enter country"  value="<%=listing.country%> "class="form-control" required>
        </div>
        <button class="btn btn-dark mt-3" style="background-color: red;">add</button>      
    </form>
</div>
</div>

</body>
</html>